.page {
  background-color: #ffb3c6;
  color: #011f2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.birthdayList_container {
  background-color: #f3f3f3;
  border-radius: 6px;
  width: 400px;
  height: 500px;
}

.birthdayList_title {
  margin-top:20px;
  text-align: center;
}

.birthdayList_list {
  list-style: none;
  margin-left: 10px;
}

.birthdayList_button {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  width: 250px;
  height: 36px;
  background-color: #011f2e;
  color: #f3f3f3;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

button:hover {
  background-color: #041720;
}

.birthdayList_empty {
  margin:20px 0 20px 80px;
}