.page {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 background-color: #ffb3c6;
 height: 100vh;
}

.birthdayList-container {
  width: 300px;
  height: 500px;
  background-color: #943464;
}

.birthdayList-title {
  text-align: center;
}

.birthdayList-list {
  list-style: none;
}